<% if (data.length !== 0) { %>
<% include ../partials/header %>
<body>
    <div class="container">
        <div class="column" id="column1">
            <div class="column-center">
                <h4>To do</h4>
            </div>
            <% for(var i=0; i<data.length; i++) { %>
                <% if (data[i].status === 'to do' && !data[i].complete) { %>
                    <div class="portlet handle" task-id="<%=data[i]._id%>">
                        <div  class="portlet-header"><a href="/tasks/<%= data[i]._id %>"><%=data[i].title%></a></div>
                        <div class="portlet-content"><%= data[i].description %></div>
                    </div>
                <% } %>
            <% } %>
        </div>
        
        <div class="column" id="column2">
            <div class="column-center">
                <h4>Progress</h4>
            </div>
            <% for (var i=0; i<data.length; i++) { %>
                <% if (data[i].status === 'progress') { %>
                    <div class="portlet handle" task-id="<%=data[i]._id%>">
                        <div class="portlet-header"><a href="/tasks/<%= data[i]._id %>"><%=data[i].title%></a></div>
                        <div class="portlet-content"><%= data[i].description %></div>
                    </div>
                <% } %>
            <% } %>
        </div>
            
        <div class="column" id="column3">
            <div class="column-center">
                <h4>Done</h4>
            </div>
            <% for (var i=0; i<data.length; i++) { %>
                <% if (data[i].complete) { %>
                    <div class="portlet handle" task-id="<%=data[i]._id%>">
                        <div class="portlet-header"><a href="/tasks/<%= data[i]._id %>"><%=data[i].title%></a></div>
                        <div class="portlet-content"><%= data[i].description %></div>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
</body>
<% include ../partials/footer %>
<script src="../../../js/home.js"></script>
<% } else { %>
<% include ./create-task %>
<% } %>