<% if (data.length !== 0) { %>
<% include ../partials/header %>
<body>
    <div class="column" id="column1">
        <% for(var i=0; i<data.length; i++) { %>
            <% if (data[i].status === 'to do') { %>
                <div class="portlet handle" task-id="<%=data[i]._id%>">
                    <div  class="portlet-header"><a href="/tasks/<%= data[i]._id %>">To Do</a></div>
                    <div class="portlet-content"><%= data[i].description %></div>
                </div>
                <% } %>
            <% } %>
    </div>
    
    <div class="column" id="column2">
        <% for (var i=0; i<data.length; i++) { %>
            <% if (data[i].status === 'progress') { %>
                <div class="portlet handle" task-id="<%=data[i]._id%>">
                    <div class="portlet-header"><a href="/tasks/<%= data[i]._id %>">In Progress</a></div>
                    <div class="portlet-content"><%= data[i].description %></div>
                </div>
                <% } %>
            <% } %>
    </div>
        
    <div class="column" id="column3">
        <% for (var i=0; i<data.length; i++) { %>
            <% if (data[i].complete) { %>
                <div class="portlet handle" task-id="<%=data[i]._id%>">
                    <div class="portlet-header"><a href="/tasks/<%= data[i]._id %>">Done</a></div>
                    <div class="portlet-content"><%= data[i].description %></div>
                </div>
            <% } %>
        <% } %>
    </div>
</body>
<% include ../partials/footer %>
<script src="../../../js/home.js"></script>
<% } else { %>
<% include ./create-task %>
<% } %>